{% extends "base.html" %}

{% block content %}
    <ul class="unstyled">
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
        <li>{{ user.user_type }}</li>
        {% if user.is_agent %}
            <li>{{ user.reseller }}</li>
        {% elif user.is_reseller %}
            <li><a href="#">Agents</a></li>
        {% elif user.is_admin %}
            <li><a href="#">Resellers</a></li>
        {% endif %}
    </ul>
{% endblock content %}