{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <table class="table">
        <tr>
            <th>{% trans "Reseller id" %}</th>
            <th>{% trans "Station id" %}</th>
            <th>{% trans "Demand" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.reseller_id }}</td>
                <td>{{ order.station_id }}</td>
                <td>{{ order.capacity }}</td>
                <td>{{ order.creation_date }}</td>
                <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'execute_orders' %}">{% trans "Compute optimal routs" %}</a>
{% endblock content %}