{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <table class="table">
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Max capacity" %}</th>
        </tr>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.max_capacity }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'create_vehicle' %}">{% trans "Add new" %}</a>
{% endblock content %}